*{
    margin: 0px;
    
}
header{
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
a{
    text-decoration: none;
}
ul{
    gap: 30px;
    display: flex;
    list-style: none;
}
.fa-solid {
    display: none;
}





firstsection
.bb{
    display: flex;
    justify-content: space-between;
}
.music{
    padding-bottom: 60px;
    padding-top: 40px;
    background-color:rgba(238, 110, 50, 0.911);
    color: white;
    text-align: center;
    font-size: x-large;
    font-style: oblique;
}
.dj{
    padding: 30px;
    padding-bottom: 40px;
    background-color: rgb(207, 126, 19);
    color: rgb(226, 24, 17);
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(241, 7, 7);
    color:transparent
}




secondsection
.parent{
    
    display: flex;
    gap: 10px;
}
.about{
    padding: 20px;
    background-color: rgb(211, 136, 24);
    font-size: medium;
    font-style: oblique;
}
.dd{
    padding: 20px;
    padding-bottom: 60px;
    padding-top: 70px;
    background-color: rgb(124, 92, 4);
    text-align: center;
}
.dj{
    padding: 30px;
    padding-bottom: 40px;
    background-color: rgb(207, 126, 19);
    color: rgb(226, 24, 17);
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(241, 7, 7);
    color:transparent
}



.blog{
    background-color: rgb(218, 167, 102);
    text-align: center;
    padding: 30px;
    padding-top: 50px;
}
.all{
    font-size: xx-large;
    color: brown;
}




.mom{
    text-align: center;
    background-color: rgb(219, 112, 35);
    padding: 20px;
    padding-bottom: 65px;
    padding-top: 65px;
}
.coke{
    text-align: center;
    background-color: rgb(218, 103, 22);
    padding: 20px;
    padding-bottom: 65px;
    padding-top: 65px;
}


.dj{
    padding: 30px;
    padding-bottom: 40px;
    background-color: rgb(207, 126, 19);
    color: rgb(226, 24, 17);
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(241, 7, 7);
    color:transparent
}
body{
    background-image: url(./image/IMG-20241015-WA0001.jpg);
}
















































@media (max-width:768px){

    header .fa-solid {
        display: block;
    }	

    nav {
        width: 50%;
        position: fixed;
        top: 0;
        height: 100%;
        background-color: blue;
        right: -50%;
        transition: 1s;

a{
    text-decoration: none;
}	

img {
    width: 100%;
}
a {
    color: brown;
}
    }

    nav ul {
        display: block;
    }

    li {
        padding: 20px;
    }
    
}

